div{
    background-color: black;
    border-radius: 20px;
    width: 300px;
    padding: 70px;
    margin-top: 80px;
    margin-left: 800px;

    
}
    
h1{
  text-align: center;
  color: aliceblue;
  font-size: 80px;
}

button{
    margin-top: 80px;
    margin-left: 850px;
    height: 80px;
    width: 200px;
    font-size: 30px;
}